*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans';
}
html,body{
    height: 100%;
    width:100%;
}
#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 13%;
    width:100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
#logo{
    height: 70%;

}
#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.navmenu{
    color: rgb(51, 51, 212);
    display: flex;
}
.navmenu:hover{
    color: rgb(169, 223, 241);
    display: flex;
}
#contact{
    font-weight: lighter;
    color: rgb(64, 54, 213);
}
#contact:hover{
    color: rgb(169, 223, 241)
}
.icons{
    padding:10px;
    border-radius: 50%;

}
.icons:hover{
     background-color: rgb(157, 214, 234);
}
#login{
    display: flex;
    padding: 20px;
    border-radius:50%;
}
#login:hover{
    background-color: rgb(157, 214, 234);
}
#try{
    background-color: green;
    padding: 10px 20px;
    color: white;

}
#try:hover{
    background-color: darkgreen;
}

#page1{
    height: 87%;
    width: 100%;
    
}
#strip{
    height: 8%;
    width: 100%;
    background-color:darkblue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#strip u{
    font-weight: lighter;
    margin-left: 10px;

}
#content{
    height: 76%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box1{
    height: 90%;
    width: 47%;
    background-color: white;
}
#box1 h1{
    font-weight: 600;
    color: rgb(0,0,80);
    font-size: 50px;
    margin:10px;
    margin: 30px 10px ;
}
#box1 p{
    font-size: xx-large;
    margin: 20px 10px;
}
#box2{
    position: relative;
    height: 90%;
    width: 47%;
}
#box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
#box2 iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 80%;
    object-fit:cover;
    border-radius: 5px;


}

#buttons{
    display: flex;
}

#btn1{
    text-align: center;
    width: 23%;
    padding:10px 20px;
    color: white;
    background-color: blue;
    margin: 10px;
    border-radius: 5px;
}
#btn1:hover{
    background-color: rgb(0,66,88);
}



#btn2{
    text-align: center;
    width: 23%;
    padding:10px 20px;
    color:rgb(89, 213, 255);
    border: 1px solid rgb(89,213,255);
    margin: 10px;
    border-radius: 5px;
}
#btn2:hover{
    background-color: lightblue;
    color: rgb(0,67,90);
    border-color: rgb(0,67,90);
}

#slogan{
    width:100%;
    height:16%;
    display: flex;
    align-items: center;
    justify-content:center;
    color: darkblue;
}
#slogan h1{
    font-weight: 600;
}
#page2{
    height: 87%;
    width: 100%;

}

.products{
    width:90%;
    margin:70px auto;

    display:flex;
    align-items: center;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.product-card{
    margin-top: 10%;
    width:300px;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.card-banner{
    height:140px;
    position:relative;
}

.banner1{
    background:linear-gradient(
    135deg,
    #dff3ff,
    #b3e4ff
    );
}

.banner2{
    background:linear-gradient(
    135deg,
    #dffff6,
    #a6f1df
    );
}

.banner3{
    background:linear-gradient(
    135deg,
    #ffe8f0,
    #ffcfe0
    );
}

.banner4{
    background:linear-gradient(
    135deg,
    #fff0df,
    #ffd8b4
    );
}

.icon-box{
    width:90px;
    height:90px;

    background:white;
    border-radius:50%;

    position:absolute;
    left:30px;
    bottom:-40px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:35px;

    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.content{
    padding:60px 25px 30px;
}

.content h3{
    color:#032d60;
    margin-bottom:15px;
}

.content p{
    color:#555;
    line-height:1.7;
    margin-bottom:20px;
}

.content a{
    color:#032d60;
    font-weight:700;
}

.btn-wrap{
    text-align:center;
    margin-bottom:80px;
}

.view-btn{
    padding:15px 35px;

    background:white;
    color:#0176d3;

    border:2px solid #0176d3;

    border-radius:6px;

    cursor:pointer;
    font-size:16px;
    font-weight:600;
}
footer img{
    width: 90%;
    object-fit: cover;
}
#fakeheader{
    height: 13%;
    width:100%;

}
